@import "tailwindcss";
@media (max-height: 1000px) {
  .responsive-button-group {
    flex-direction: row !important;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #030303;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}